#addFolderModal, #changeFolderNameModal,.changeFileNameModal,#moveFolderModal{
    width: 25%;
}

#moveFolderModal{
    display: none;
}

#moveFolderModal select{
    display: block;
}

.row {
    width: 90%;
    margin-top: 5%;
}