{{#if user.config.theme.dark.set}}
    <link rel="stylesheet" href="/css/darkTheme.css">
{{/if}}
<div class="settings">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#account">Konto</a></li>
            <li class="tab col s3"><a href="#shared">Udostępnione</a></li>
            <li class="tab col s3 "><a href="#stats">Statystyki</a></li>
            <li class="tab col s3"><a href="#remove">Usunięcie</a></li>
        </ul>
    </div>
    <div id="account" class="col s12">
        {{>account/_profile}}
    </div>
    <div id="shared" class="col s12">
        {{>account/_shared}}
    </div>
    <div id="stats" class="col s12">
        {{>account/_stats}}
    </div>
    <div id="remove" class="col s12">
        {{>account/_remove}}
    </div>
</div>
<script src="/js/helpers/changeSwitch.js"></script>