<div class="header mb-5">
    <div class="btn-group float-right">
        <ul class="dropdown-menu" role="menu">
            <li><label class="labelToUploadFile" for="fileToUpload">Nowy plik</label></li>
            <form class="addFileForm" action="file/add" method="post" enctype="multipart/form-data">
                <input type="file" name="fileToUpload" id="fileToUpload">
                <input type="submit" value="Upload Image" name="submit">
            </form>
            <li><label class="labelToUploadFolder" for="folderoUpload" data-toggle="modal"
                       data-target="#addFolderModal">Nowy folder</label></li>
        </ul>
        <button class="actionButton dropdown-toggle" data-toggle="dropdown">
            Dodaj
            <span class="caret"></span>
        </button>
    </div>
    {{> modals/_addFolders}}
    {{> modals/_renameFolder}}
    {{> modals/_moveFolder}}
</div>
