<footer class="page-footer blue-grey darken-1">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Marcin Gryczon
        <a class="grey-text text-lighten-4 right" href="https://github.com/Tsogodar/Tibia">
            <img src="/img/github.ico" alt="Github Page">
        </a>
        </div>
    </div>
</footer>
