<nav class="blue-grey darken-1">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo left">Dyplomówka</a>
            <ul id="dropdown" class="dropdown-content">
                <li><a href="#!">Ustawienia</a></li>
                <li><a href="/auth/logout">Wyloguj</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if user}}
                    <li>
                        <a class="dropdown-button" data-activates="dropdown" data-beloworigin="true">Witaj Marcin
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                {{else}}
                    <li><a href="/auth/login">Logowanie</a></li>
                    <li><a href="/auth/register">Rejestracja</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>