<nav class="navbar navbar-expand-sm">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="/">Dyplomówka</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/login" class="nav-link">Logowanie</a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link">Rejestracja</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">
                    Witaj Marcin Gryczon
                </a>
                <div class="dropdown-menu">
                    <a href="/account/settings" class="dropdown-item">Ustawienia</a>
                    <a href="/account/logout" class="dropdown-item">Wyloguj</a>
                </div>
            </li>
        </ul>
    </div>
</nav>