<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/materialize/dist/css/materialize.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/materialize/dist/js/materialize.min.js"></script>
    <script src="/jqueryui/jquery-ui.min.js"></script>
    <script src="/js/helpers/folderMenu.js"></script>
    <script src="/js/helpers/fileMenu.js"></script>
    <script src="/js/helpers/drag&drop.js"></script>
    <script src="/js/helpers/global.js"></script>
    <script src="/js/helpers/contextMenu.js"></script>
    <script src="/js/helpers/shareMessage.js"></script>
    <link rel="stylesheet" href="/css/parallax.css">
    <link rel="stylesheet" href="/css/partials/navbar.css">
    <link rel="stylesheet" href="/css/form/login_register.css">
    <link rel="stylesheet" href="/css/form/addFile.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/folders.css">
    <link rel="stylesheet" href="/css/partials/files.css">
    <link rel="stylesheet" href="/css/partials/contextMenu.css">
    <link rel="stylesheet" href="/css/partials/messages.css">
    <link rel="stylesheet" href="/css/partials/sharedFile.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link rel="stylesheet" href="/css/modals/addFolders.css">
    <link rel="stylesheet" href="/css/modals/fileDetails.css">
    <title>Aplkacja hostingowa</title>
</head>
<body>
{{>_navbar}}
{{>_messages}}
{{>_contextMenu}}
<main>
    {{{body}}}
</main>
{{>_footer}}
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>

</body>
</html>