<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>-->
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <!--<script src="https://use.fontawesome.com/448e4ba424.js"></script>-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/jqueryui/jquery-ui.min.js"></script>
    <script src="/js/helpers/folderMenu.js"></script>
    <script src="/js/helpers/drag&drop.js"></script>
    <script src="/js/helpers/global.js"></script>
    <script src="/js/helpers/contextMenu.js"></script>
    <link rel="stylesheet" href="/css/parallax.css">
    <link rel="stylesheet" href="/css/partials/navbar.css">
    <link rel="stylesheet" href="/css/form/login_register.css">
    <link rel="stylesheet" href="/css/form/addFile.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/folders.css">
    <link rel="stylesheet" href="/css/partials/contextMenu.css">
    <link rel="stylesheet" href="/css/modals/addFolders.css">
    <title>Aplkacja hostingowa</title>
</head>
<body>
{{>_navbar}}
{{>_contextMenu}}
{{{body}}}
</body>
</html>