<div id="addFolderModal" class="modal">
    <div class="modal-body">
        {{#if parent}}
        <form method="post" action="/folder/add/{{parent}}">
        {{else}}
        <form method="post" action="/folder/add">
        {{/if}}
        <div class="row">
            <div class="input-field">
                <input id="nameInput" type="text" name="newFolderName" autocomplete="off" required>
                <label for="last_name">Nazwa folderu</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn deep-orange modal-close">Anuluj</button>
            <input type="submit" class="btn orange" value="Dodaj">
        </div>
    </form>
    </div>
</div>