<div id="moveFolderModal" class="move">
    <div class="modal-content">
        <h5 class="modal-title" id="exampleModalLabel">Przenieś do</h5>
        <form method="post" action="/folder/destination/">
            <select name="destination" class="select"></select>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">Anuluj</button>
                <input type="submit" class="btn btn-primary" value="Ok">
            </div>
        </form>
    </div>
</div>