<div class="modal fade" id="moveFolderModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Przenieś do</h5>
            </div>
            <div class="modal-body">

                <form method="post" action="/folder/destination/">
                    <select name="destination" class="form-control">
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <input type="submit" class="btn btn-primary" value="Ok">
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>