<div id="noFreeSpaceModal" class="modal">
    <div class="modal-content">
        <h4>Uwaga</h4>
        <p>Brak dostępnej przestrzeni do zapisania zasobu.</p>
        <p>Usuń istniejące pliki by zyskać więcej wolnego moejca.</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Rozumiem</a>
    </div>
</div>