.card {
    width: 30%;
    margin: 0 auto;
    top: 50px;
    padding: 15px 0;
}

.center-align {
    padding: 5px;
}

.authForm{
    width: 85%;
    margin: 0 auto;
}

.loginBtn .registerBtn{
    margin-bottom: 15px;
}

.loginGoogle{
    margin-top: 15px;
}

.loginGoogle img{
    width: 20%;
    vertical-align: middle;
}