.foldersSection{
    padding: 25px;
}

.folder {
    width: 200px;
    height: 40px;
    /*border-radius: 5px;*/
    border: 1px solid gray;
    display: inline-block;
    overflow: hidden;
    margin: 5px;
}

.folder:hover{
    border-color: orange;
}

.folderTitle {
    padding: 5px 10px;
    font-size: 16pt;
}

.folderMenu {
    opacity: 0;
    background-color: rgba(255, 150, 0, .8);
    width: 100%;
    height: 40px;
    /*border-radius: 5px;*/
    text-align: center;
    margin-top: -40px;
    position: relative;
}

.folder, .folderTitle,.folderActions {
    user-select: none;
}

.folderActions{
    height: 100%;
    width: auto;
    font-size: 20pt;
    display: inline-block;
    margin: 7px 9%;
}

.folderActions a{
    display: none;
    color: white;
}

.folderActions:hover,.folder:hover{
    cursor:pointer;
}