.init{
    margin-top: 60px;
}
.fixed-action-btn{
    bottom: initial;
    right: 60px;
}

.labelToUploadFile, .labelToUploadFolder {
    width: 100%;
}

.labelToUploadFile:hover, .labelToUploadFolder:hover {
    cursor: pointer;
}
