.settings{
    padding: 1%;
}

#profile,#shared,#stats,#remove{
    margin-top: 2%;
}

#profile .input-field input{
    width: 70%;
}

.authForm .btn-floating{
    width: 80px;
}

.formsTitle{
    vertical-align: top;
    width: 30%;
}

.noResource{
    text-align: center;
}

.name{
    width:30%;
}

.defaults{
    width: 56%;
    margin-left: 3%;
}

.forms{
    width: 45%;
}