.sharedFile {
    width: 100%;
}

.sharedFile .content {
    width: 75%;
    margin: 55px 0;
    text-align: center;
    display: inline-block;
}

.sharedFile .content img {
    border: 1px solid gray;
    height: 715px;
    image-orientation: from-image;
}

.sharedFile .details{
    display: inline-block;
    vertical-align: top;
    margin: 35px 0;
}

.sharedFile .menu button{
    margin-top: 20px;
    width: 100%;
    border-radius: 0;
}

.sharedFile .menu button:hover{
    cursor: pointer;
}

