<div id="remove">
    <div class="container">
        <table>
            <tbody>
            <tr>
                <td class="formsTitle">
                    <h5>Zasoby</h5>
                    <p>Bezpowrotnie usuwa wszystkie zasoby (foldery, pliki) przypisane do konta</p>
                </td>
                <td>
                    <a href="/account/purge" class="waves-effect waves-light btn-large red">Usuń zasoby</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>